$body_background_color: #FFFFFF;
$header_background_color: #263544;
$theme_color: #263544;
$hover_color: #1d2531;
$highlight_color: #d64e07;
$primary_button_color: #263544;
$notification_color: #000000;
$label_color: #000000;
$font_name: inherit;
